@import "tailwindcss";

.font-aref {
  font-family: var(--font-aref);
}

.font-carattere {
  font-family: var(--font-carattere);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-aref: "Aref Ruqaa", serif;
  --font-carattere: "Carattere", cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aref);
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 50s linear infinite;
}
